<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <header class="navbar-container">
    <div class="logo">
        <h1>Chef Nuo's</h1>
    </div>
    <nav class="nav-list">
        <ul>
            <li><a href="#index.html">Home</a></li>
            <li><a href="#">Favorites</a></li>
            <li><a href="https://www.linkedin.com/in/melani-nurlies-aa1748254">About Us</a></li>
        </ul>
    </nav>
</header>
<main>
<div class="hero">
  <div class="hero__inner">
    <h1 class="hero__title">Restaurant dengan Varian Menu Asia & Eropa</h1>
    <p class="hero__tagline">Pilihan Restoran dengan menu makanan yang lezat dan suasana restoran yang sejuk 
      sangat cocok untuk kumpul keluarga dan kerabat</p>
  </div>
</div>
</main>
  <h1 class="judul">Explore The Restaurant</h1>
  <div id="listRestaurant"></div>
</body>
<footer>
  <p>Copyright © 2023 - Chef Nuo's</p>
</footer>
</html>
